//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


footer {
  position: relative;

  .custom-row {
    @include flexbox()

    margin-left: -15px;
    margin-right: -15px;

    .custom-col-lg {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 73%;
      -ms-flex: 0 0 73%;
      flex: 0 0 73%;

      max-width: 73%;
      padding: 40px 0 15px;

      background-image: url('../assets/images/bg-footer-1.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .custom-col-sm {
      @include flexbox()
      @include align-items(center)
      @include justify-content(center)
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 27%;
      -ms-flex: 0 0 27%;
      flex: 0 0 27%;

      max-width: 27%;

      background-image: url('../assets/images/bg-footer-2.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      overflow-x: hidden;
    }
  }

  .footer-links-wrapper {
    @include inline-flex
    @include justify-content(space-between)

    width: 100%;
    margin-bottom: 30px;
    padding: 0 94px;

    .footer-link {
      font-family: $font-avenir-heavy;
      font-size: 15px;
    }

    .footer-list.dark {
      .footer-link {
        color: $tarawera-grey;

        @include transition(all .3s linear)

        @include on-event() {
          color: $nobel-grey;
          text-decoration: none;
        }
      }
    }

    .footer-list.light {
      .footer-link {
        color: $nobel-grey;

        @include transition(all .3s linear)

        @include on-event() {
          color: $tarawera-grey;
          text-decoration: none;
        }
      }
    }
  }

  .footer-copyright {
    margin: 0 94px;
    padding-top: 15px;

    font-family: $font-avenir-medium;
    font-size: 12px;
    color: $nobel-grey;

    border-top: 1px solid $gainsboro-grey;

    a {
      color: $nobel-grey;
    }
  }

  .need-help-icon {
    margin-bottom: 10px;
  }

  .need-help-txt {
    margin-bottom: 27px;

    font-family: $font-avenir-black;
    font-size: 30px;
    color: white;
  }

  .btn-wrapper {
    @include flexbox()
    @include justify-content(center)
  }

  .btn-holder {
    @include flexbox()
    @include justify-content(space-between)

    width: 400px;
    padding: 0 49px;
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    .need-help-wrapper {
      width: 100%;
    }

    .btn-holder {
      width: 300px;
      padding: 0 15px;
    }
  }

  @include respond-to(lg-down) {
    .need-help-wrapper {
      width: 100%;
    }

    .btn-holder {
      @include justify-content(space-around)

      padding: 0 0;
    }
  }

  @include respond-to(lg) {
    .footer-links-wrapper {
      .footer-link {
        font-size: 12px;
      }
    }

    .footer-copyright {
      font-size: 10px;
    }
  }

  @include respond-to(md) {
    .footer-links-wrapper {
      display: block;

      margin-bottom: 2px;
      padding: 0 30px;

      .footer-list {
        display: inline-block;

        width: 32%;
      }
    }

    .btn-holder {
      display: block;

      .btn-footer {
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }

    .need-help-icon {
      width: 48px;
    }

    .need-help-txt {
      font-size: 18px;
    }

    .custom-row {
      .custom-col-lg {
        padding: 12px 0 15px;
      }
    }

    .footer-copyright {
      margin: 0 30px;
    }
  }

  @include respond-to(sm-down) {
    .custom-row {
      display: block;

      .custom-col-lg {
        display: none;
      }

      .custom-col-sm {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;

        max-width: 100%;
        padding: 15px 0;
      }
    }

    .whatsapp-number-mobile {
      display: none;

      p {
        margin-top: 30px;
        margin-bottom: 0;

        font-family: $font-avenir-medium;
        font-size: 12px;
        letter-spacing: .6px;
        text-align: center;
        white-space: nowrap;
      }
    }

    .footer-copyright {
      margin: 0 15px;
    }
  }

  @include respond-to(xs) {
    .need-help-icon {
      max-width: 45px;
    }

    .need-help-txt {
      font-size: 18px;
    }

    .footer-copyright {
      text-align: center;

      border-top: none;
    }
  }
}


.direction-rtl {
  footer {
    .footer-item,
    .footer-copyright {
      text-align: right;
    }

    .footer-links-wrapper {
      text-align: right;
    }
  }
}
