//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the breadcrumb of the site/application.
// -----------------------------------------------------------------------------

.breadcrumb-learning-details {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 10;

  width: auto;

  .breadcrumb {
    padding: 0;
    margin: 0;

    background: transparent;
  }

  .breadcrumb-title {
    display: none;

    text-align: center;

    a {
      font: normal 18px $font-avenir-black;
      color: #fff;
      text-decoration: none;
    }
  }

  .breadcrumb-item {
    font: normal 12px $font-avenir-roman;
    color: #fff;

    &:before {
      padding-right: 4px;
      padding-left: 4px;

      color: #fff;
    }

    &.active {
      pointer-events: none;
    }
  }

  @include respond-to(md-down) {
    top: 25px;

    width: 100%;

    .breadcrumb-title {
      display: block;
    }

    .breadcrumb {
      @include justify-content(center);
      margin: 3px auto 0;
    }
  }

  @include respond-to(sm-down) {
    top: 85px;

    .breadcrumb-item {
      font-size: 11.1px;
      font-weight: bold;
    }
  }
}

.direction-rtl .breadcrumb-learning-details {
  right: 0;
  left: unset;

  .breadcrumb {
    margin: 0 41px 0 0;
  }

  @include respond-to(md-down) {
    .breadcrumb {
      margin: 3px auto 0;
    }
  }
}
