//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$font-opensans: 'Open Sans';
$font-avenir-heavy: 'Avenir Heavy';
$font-avenir-black: 'Avenir Black';
$font-avenir-medium: 'Avenir Medium';
$font-avenir-roman: 'Avenir Roman';
$font-avenir-demi: 'Avenir Next Demi';


/// @type List
$text-font-stack: $font-opensans, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$text-avenir-heavy: $font-avenir-heavy, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$text-avenir-black: $font-avenir-black, 'Arial Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$text-avenir-medium: $font-avenir-medium, 'Arial Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$text-avenir-roman: $font-avenir-roman, 'Calibri', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #222 !default;

/// Main brand color
/// @type Color
$brand-color: #E50050 !default;

/// Light grey
/// @type Color
$light-grey: #EDEDED !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;

//Custom colors
$tarawera-grey: #293b45;
$licorice-grey: #2d3a4b;
$cello-blue: #36475b;
$facebook-blue: #4866a4;
$regent-st-blue: #9bc9d6;
$french-pass-blue: #acd0dc;
$onahau-blue: #cbe4ea;
$light-onahau-blue: #eaf2f7;
$matterhorn-grey: #4c4c4c;
$dim-grey: #676767;
$nobel-grey: #999;
$ghost-grey: #bebfc3;
$gainsboro: #dddddd;
$gainsboro-grey: #dbdbdb;
$whisper-white: #e7e7e7;
$white-smoke: #f5f5f5;
$gray-border: #e4e4e4;
$echo-blue: #a7c0c4;
$light-gray: #a3a3a3;
$gray: #767676;
$bright-red: #dc231f;
$spray: #86c3ce;
$seagull: #78bfd3;
$alabaster: #f7f7f7;
$dark-gray: #514f50;
$catskill-white: #f1f6f9;
$carrot-orange: #f3821c;
$purple-light: #ebf2f8;
$oyster-bay: #d8ecec;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;
